__pycache__/
*.pyc
.pytest_cache/
env/
venv/
.venv/
.vscode/
idea/
.idea/
*.pt
model_cache.pkl
*.pth
dist/
build/
__MACOSX/
*.egg-info/
.DS_Store

# Wygenerowane pliki i modele
checkpoints/
exports/
outputs/
*.onnx

# Dane i logi
data/*.json
data/*.txt
data/*.jsonl
data/*.md

# Śledzenie eksperymentów
mlruns/
/data
